<!doctype html>
<html lang="en" ng-app="bookingApp">

<head>
  <meta charset="utf-8">
  <title>ITrex Test App</title>
  <!-- inject:css -->
  <!-- endinject -->
  <!-- inject:js -->
  <!-- endinject -->
</head>

<body>

  <div class="container" ng-controller="AppCtrl as ctrl" ng-cloak>

    <div class="row">

      <div class="col-3">
        <ul class="nav nav-tabs nav-tabs--vertical nav-tabs--left" role="navigation">
          <li class="nav-item" ng-repeat="nav in ctrl.getNavList()">
            <a href="#{{ ::nav.label }}" class="nav-link" ng-class="{active: ctrl.isPanelActive(nav.label)}" >
              <i class="{{ ::nav.icon }}" aria-hidden="true"></i> {{ ::nav.label }}
            </a>
          </li>
        </ul>
      </div>

      <div class="col-6">
        <div class="tab-content">
          <div class="tab-pane fade show active">
            <form name="bookingForm" ng-submit="ctrl.search(bookingForm.$valid); bookingForm.$setUntouched()" novalidate>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label>Start Date</label>
                  <input type="text" 
                        ng-class="{'has-error': bookingForm.startDate.$touched && bookingForm.startDate.$invalid}"
                        class="form-control" 
                        name="startDate" 
                        ng-model="ctrl.startDate" 
                        datepicker 
                        required 
                        type="date" />
                  <p ng-show="bookingForm.startDate.$invalid && bookingForm.startDate.$touched" class="help-block">
                    Start Date is required
                  </p>
                </div>
                <div class="form-group col-md-6">
                  <label>End Date</label>
                  <input type="text" 
                        ng-class="{'has-error': bookingForm.endDate.$touched && bookingForm.endDate.$invalid}"
                        class="form-control" 
                        ng-model="ctrl.endDate" 
                        name="endDate" 
                        required 
                        datepicker 
                        type="date" />
                  <p ng-show="bookingForm.endDate.$invalid && bookingForm.endDate.$touched" class="help-block">
                    End Date is required
                  </p>
                </div>
              </div>

              <div class="form-group">
                <div ng-view class="view-frame"></div>
              </div>

              <div class="form-group">
                <a ng-click="ctrl.clear()" href="javascript:void(0);">Clear</a>
                <button type="submit" ng-disabled="bookingForm.$invalid" class="btn btn-primary">Search</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="log in ctrl.getLogs()">
            <i ng-class="log.icon" aria-hidden="true"></i>
            <span>&nbsp;{{ ::log.startDate | formattedDate : 'MMMM dd' }} - {{ ::log.endDate | formattedDate : 'MMMM
              dd' }}, {{ ::log.type !== 'hotels' ? log.description : '' }} 
              <span ng-if="log.type === 'hotels'" ng-bind-html="log.description"></span>
            </span>
            <div class="list-close-icon">
              <i class="fa fa-window-close" aria-hidden="true" ng-click="ctrl.removeLogByIndex($index)"></i>
            </div>
          </li>
        </ul>
      </div>
    </div>

  </div>

</body>

</html>